---
# vim:ts=2:sw=2:et:ai:sts=2

- name: Reload tinc
  ansible.builtin.service:
    name: '{{ _tinc_service_name }}'
    state: reloaded

- name: Restart tinc
  ansible.builtin.service:
    name: '{{ _tinc_service_name }}'
    state: restarted

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Reload ferm
  ansible.builtin.service:
    name: ferm
    state: reloaded
