---
# vim:ts=2:sw=2:et:ai:sts=2

- name: Check tinc uses systemd units
  ansible.builtin.stat:
    path: /lib/systemd/system/tinc@.service
  register: _tinc_tinc_unit

- name: Set fact about systemd unit
  ansible.builtin.set_fact:
    _tinc_use_systemd: '{{ _tinc_tinc_unit.stat.exists }}'

- name: Stop and disable tinc
  ansible.builtin.service:
    name: '{{ _tinc_service_name }}'
    enabled: false
    state: stopped

- name: Delete tinc netname directory
  ansible.builtin.file:
    path: /etc/tinc/{{ tinc__netname }}
    state: absent

- name: Delete nets.boot
  ansible.builtin.lineinfile:
    dest: /etc/tinc/nets.boot
    line: '{{ tinc__netname }}'
    state: absent

- name: Delete systemd unit override
  ansible.builtin.file:
    path: /etc/systemd/system/{{ _tinc_service_name }}.service.d/override.conf
    state: absent
  notify:
    - Reload systemd
  when: _tinc_use_systemd

- name: Delete local configuration copy
  ansible.builtin.file:
    path: |-
      {{ tinc__local_cache }}/{{ tinc__netname }}/{{ inventory_hostname }}
    state: absent
  delegate_to: localhost
