# vim:ts=2:sw=2:et:ai:sts=2
---

_tinc_combined_hostvars: >-
  {{ dict(hostvars) | combine(tinc__external_hosts or {}) }}

_tinc_hosts: >-
  {{
    _tinc_combined_hostvars.items() |
    selectattr('1.tinc__vpn_addresses', 'defined') |
    selectattr('1.tinc__vpn_addresses', 'ansible.builtin.truthy') |
    map(attribute='0')
  }}

tinc__hostvars: |-
  {% set ns = namespace(result={}) %}
  {% for host in _tinc_hosts %}
  {% set hvars = _tinc_combined_hostvars[host] %}
  {% set conf = {
    'tinc__host': host,
    'tinc__public_addresses':
      hvars.get('tinc__public_addresses', [hvars.ansible_host]) or [],
    'tinc__vpn_addresses':
      hvars.get('tinc__vpn_addresses'),
    'tinc__allow_incoming_connections':
      hvars.get('tinc__allow_incoming_connections', True) | bool,
    'tinc__remove':
      hvars.get('tinc__remove', False) | bool,
    'tinc__netname':
      hvars.get('tinc__netname', 'tinc'),
  } %}
  {% set ns.result = ns.result | combine({host: conf}) %}
  {% endfor %}
  {{- ns.result }}

tinc__other_public_addresses: >-
  {{
    tinc__hostvars.values() |
    selectattr('tinc__host', 'ne', inventory_hostname) |
    selectattr('tinc__public_addresses', 'defined') |
    map(attribute='tinc__public_addresses') |
    sort |
    sum(start=[])
   }}

tinc__use_systemd: >-
  {{ (ansible_service_mgr | d()) == "systemd" }}
tinc__service_name: >-
  {{ "tinc@" + tinc__netname if tinc__use_systemd else "tinc" }}
