# vim:ts=2:sw=2:et:ai:sts=2
---

_tinc_combined_hostvars: >-
  {{ dict(hostvars) | combine(tinc__external_hosts or {}) }}

_tinc_removed_hosts: >-
  {{
    _tinc_combined_hostvars.items() |
    selectattr('1.tinc__remove', 'defined') |
    selectattr('1.tinc__remove', 'false') |
    map(attribute='0')
  }}

_tinc_hosts: >-
  {{
    _tinc_combined_hostvars.items() |
    selectattr('1.tinc__vpn_addresses', 'defined') |
    selectattr('1.tinc__vpn_addresses', 'ansible.builtin.truthy') |
    map(attribute='0') |
    ansible.builtin.difference(_tinc_removed_hosts)
  }}

_tinc_hostvars: |-
  {% set ns = namespace(result={}) %}
  {% for host in _tinc_hosts %}
  {% set hvars = _tinc_combined_hostvars[host] %}
  {% set conf = {
    'tinc__public_addresses':
      hvars.get('tinc__public_addresses', [hvars.ansible_host]) or [],
    'tinc__allow_incoming_connections':
      hvars.get('tinc__allow_incoming_connections', True) | bool,
    'tinc__netname':
      hvars.get('tinc__netname', 'tinc'),
  } %}
  {% set ns.result = ns.result | combine({host: conf}) %}
  {% endfor %}
  {{- ns.result }}

_tinc_connect_to: >-
  {{
    _tinc_hostvars.items() |
    selectattr('0', 'ne', inventory_hostname) |
    selectattr('1.tinc__allow_incoming_connections', 'true') |
    selectattr('1.tinc__netname', 'eq', tinc__netname) |
    map(attribute='0')
  }}

_tinc_ferm_allow_from: >-
  {{
    _tinc_hostvars.items() |
    selectattr('0', 'ne', inventory_hostname) |
    selectattr('1.tinc__public_addresses', 'defined') |
    selectattr('1.tinc__public_addresses', 'ansible.builtin.truthy') |
    selectattr('1.tinc__netname', 'eq', tinc__netname) |
    map(attribute='1.tinc__public_addresses') |
    sum(start=[]) |
    sort
   }}

_tinc_service_name: >-
  {{ "tinc@" + tinc__netname if _tinc_use_systemd else "tinc" }}
